<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="css/styles.css")
    title Document
body
    header.admin-header
        .admin-header-up
            h1.admin-header__title  Панель администрирования
            a(href="index.html").admin-header-up__link Вернуться на сайт 
        .admin-header__down
            .tabs
                ul.tabs__list#tabs-nav
                    li.tabs__item: a.tabs__link(href="#tab1") TAB 1
                    li.tabs__item: a.tabs__link(href="#tab2") TAB 2
                    li.tabs__item: a.tabs__link(href="#tab3") TAB 3
                    li.tabs__item: a.tabs__link(href="#tab4") TAB 4

    main.admin-main
        .tab__content
            div#tab1.tabs__content
                h2.admin-main__title Страница «Обо мне»
                .admin-table__container
                        mixin admin-table(title)
                            h2.admin-table__title=title
                            table.admin-table
                                mixin table-item(titletheme,inputval)
                            
                                        tr.admin-table__item
                                                td.admin-table__titleTheme=titletheme
                                                td.admin-table__input 
                                                    input(type="text" value=inputval) 
                                +table-item('HTML','100')
                                +table-item('CSS','90')
                                +table-item('JS','80')
                        +admin-table('Frontend') 
                        mixin admin-table1(title1)
                            h2.admin-table__title=title1
                            table.admin-table 
                                mixin table-item1(titletheme1,inputval1)
                                
                                        tr.admin-table__item
                                                td.admin-table__titleTheme=titletheme1
                                                td.admin-table__input 
                                                    input(type="text" value=inputval1) 
                                +table-item1('PHP','10')
                                +table-item1('NODE','50')
                                +table-item1('JS','80')
                        +admin-table1('Backend')
                        mixin admin-table2(title2)
                            h2.admin-table__title=title2
                            table.admin-table 
                                mixin table-item2(titletheme2,inputval2)
                                        tr.admin-table__item
                                                td.admin-table__titleTheme=titletheme2
                                                td.admin-table__input 
                                                    input(type="text" value=inputval2) 
                                +table-item2('PHP','100')
                                +table-item2('NODE','65')
                                +table-item2('JS','20')
                        +admin-table2('Workflow')

                a(href="#").button.button--admin Сохранить 

            div#tab2.tabs__content
                h2.admin-main__title Страница «Блог»
                p.admin-main__suptitle Добавить запись
                input(type="text" value="Название")
                input(type="text" value="Дата")
                textarea.admin-main__textarea(value="Содержание")
                a(href="#").button.button--admin Добавить

            div#tab3.tabs__content
                h2.admin-main__title Страница «Мои работы»
                p.admin-main__suptitle Добавить запись
                input(type="text" value="Название")
                input(type="text" value="Дата")
                a(href="#").admin__header-up__link.admin__header-up__link--load Загрузить картинку
script(src="https://code.jquery.com/jquery-3.2.1.min.js")
script(src="./js/app.js")